{
  "deploy": {
    "aws_region": "ap-south-1",
    "stack_name": "rastir-prometheus",
    "vpc_id": "vpc-xxxxxxxx",
    "vpc_cidr": "172.31.0.0/16",
    "subnet_ids": "subnet-aaa,subnet-bbb",
    "assign_public_ip": "ENABLED",
    "fargate_cpu": "512",
    "fargate_memory": "2048",
    "desired_count": 1,
    "prometheus_image": "ghcr.io/skamalj/rastir-prometheus:latest",
    "prometheus_port": 9090,
    "rastir_cluster_name": "rastir-server",
    "rastir_service_connect_namespace_arn": "arn:aws:servicediscovery:ap-south-1:123456789012:namespace/ns-xxxxxxxx",
    "rastir_server_endpoint": "rastir-server:8080",
    "s3_config_uri": "s3://my-bucket/prometheus/"
  }
}
